body {
    background-color: #1B1E21;
    color: rgb(233, 233, 233);
    position: relative;
}

input, textarea, select {
    display: block;
}

a {
    color: rgb(155, 250, 255);
}

a:hover {
    color: rgb(62, 218, 226);
}

.table-cat {
    background: rgb(54, 40, 40);
}

.product {
    width: 140px;
}

.w80 {
    width: 80px;
}

.w130 {
    width: 130px;
}

.w170 {
    width: 170px;
}

.dropdown-menu.show {
    background: #606060;
}

.dropdown-item {
    color: #dadada;
}

.sticky {
    position: sticky;
}